body {
    padding-top: 65px;
}
h1 {
    color: #9362AD;
}
.calendar {
    margin-top: 50px;
}

.show-grid [class*="span"].current-week {
    background-color: #FFEEEE;
}

.show-grid [class*="span"].current-day {
    background-color: #EEEEFF;
}

.show-grid {
    background-color: #EEEEEE;
}

.show-grid [class*="span"] {
    border-radius: 3px 3px 3px 3px;
    min-height: 120px;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}
.show-grid [class*="span"].dayname {
    min-height: 20px;
    text-align: center;
}

.fin, .pr, .event, .deadline {
    border-radius: 3px 3px 3px 3px;
    line-height: 12px;
    min-height: 12px;
    text-align: left;
    margin: 3px;
    padding: 1px;
}

.fin {
    font-weight: bold;
}

.pr {
    background-color: #EECCFF;
    border: 1px solid #DDCCEE;
}

.event {
    background-color: #DDDDFF;
    border: 1px solid #BBBBCC;
}

.deadline {
    background-color: #FF4444;
    border: 1px solid #FF3333;
}

[class*="month"] {
    background-color: #EEEEEE;
    width: 906px;
    min-width: 906px;
}

.day {
    background-color: #FFFFFF;
    width: 120px;
}

.date {
    width: 98%;
    text-align: right;
    margin-top: 2px;
    line-height: 12px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    [class*="month"] {
        min-width: 460px;
        width: 460px;
    }

    .span7, .span6, .span5, .span4, .span3, .span2, .span1 {
      width: 456px;
    }
    .offset6, .offset5, .offset4, .offset3, .offset2, .offset1 {
      margin-left: 0px;
    }

    .row {
        margin-bottom: 10px;
    }
}

@media print {
.page-break { display: block; page-break-before: always; }
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    display: none;
}
.span1 {
  width: 124px;
}
.offset6 {
  margin-left: 760px;
}
.offset5 {
  margin-left: 638px;
}
.offset4 {
  margin-left: 507px;
}
.offset3 {
  margin-left: 378px;
}
.offset2 {
  margin-left: 254px;
}
.offset1 {
  margin-left: 127px;
}
a[href]:after {
  content: none;
}
}
